<div class="icon">
	<img src="<%= current[:icon] %>" />
</div>
<div class="column">
	<div class="condition">
			<b>Condition:</b><br /> <%= current[:condition] %>
	</div>
	<div class="current_temp">
			<b>Current Temperature:</b><br /> <%= current[:current_temp_f] %>&deg; F / <%= current[:current_temp_c] %>&deg; C
	</div>
</div>